.show-more.has-topics{
  position: static;
}

.topic-list-item.visited a.title:not(.badge-notification), 
.latest-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification){
  color: var(--primary);
  font-weight: 100;
  opacity: .75;
}

.topic-list-item{
  position: relative;
  .main-link:first-of-type{
    padding-left: 3rem;
  }
  .posters{
    &:before{
      content: '';
      display: inline-block;
      height: 20px;
      width: 1px;
    }
    a:first-child{
      position: absolute;  
      left: 10px;
    }
  }
}


.topic-list {
  thead{
    position: sticky;
    top: 60px;
    background-color: #fff;
    z-index: 3;
  }
  th {
    color: #b1b6c7;
    padding-top: 0;
    padding-bottom: 15px !important;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px !important;
  }
  td {
    padding: 1rem .5rem;
  }
  tbody tr {
    border-bottom: none;
    transition: background-color 1s;
    &:hover{
      transition: background-color .3s;
      background-color: var(--secondary);
    }
  }
  a.title{
    font-weight: 600;
    font-size: 1rem;
    font-family: var(--heading-font-family);
  }
  .suggested-topics & thead {
    background-color: transparent;
  }
}
